*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.dark-links{
    color: #2B2B2B;
    font-weight: 300;
}

a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}

.pt-1{
    padding-top: 1.5%;
}
.ms-5{
    margin-left: 5%;
}
.d-inline-block{
    display: inline-block;
    vertical-align: top;
}

#logo{
    width:74.5%
}
#nav-menu{
    width: 25%;
}

.my-5{
    margin-top: 5%;
    margin-bottom: 5%;
}
.text-center{
    text-align: center;
}
#hero h2{
    font-size: 4rem;
    font-weight: 600;
    color: #2A2A2A;
}
#hero p{
    font-weight: 400;
    font-size: 0.9rem;
}
.btn-main{
    background-color: #285E67;
    padding: 0.6rem 2.5rem;
    border-radius: 30px;
    color: white;
    margin: 3% auto 4%
}
#hero #images img{
    width: 48%;
}
#hero #images img:nth-child(2){
    margin-left: 3%;
}

#wellbeing{
    background-color: #F4F4F4;
    padding: 5% 0 0 5%;
    margin-bottom: 3%;
}
#wellbeing h3{
    color: #2B2B2B;
    font-weight: 600;
    font-size:2rem;
    line-height: 2;
    margin-bottom: 3%;
}
.w-50{
    width: 49.5%;
}
#wellbeing .icon{
    background-color: #285E67;
    width: 55px;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 10px;
    padding-top: 4%;
    border: none;
    margin-bottom: 5%;
}
.text-justify{
    text-align: justify;
}
#wellbeing p{
    font-size: 0.8rem;
    font-weight: 400;
}
.w-47{
    width: 45%;
    margin-right: 4%;
}